<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Spoc:</strong>
  <%= @team.spoc_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>
<div class="row">
  <% if @team.tasks.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Project Id</th>
          <th>Project Name</th>
          <th>Project Priority</th>
          <th>Task Name</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @team.tasks.each do |t| %>
          <tr>
            <td><%= t.project.smo_id %></td>
            <td><%= t.project.name %></td>
            <td><%= t.project.priority.name %></td>
            <td><%= t.name %> </td>
            <td><%= check_box_tag "Status",t.id,t.status%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<%= link_to 'Edit', edit_team_path(@team), class: "btn btn-xs  btn-primary" %> | 
<%= link_to 'Create New Team', new_team_path, class: "btn btn-xs  btn-primary" %> | 
<%= link_to 'Back', teams_path, class: "btn btn-xs  btn-primary" %>
