<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Spoc:</strong>
  <%= @team.spoc_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team.email %>
</p>

<p>

  <% if @team.tasks.any? %>
    <h1>Tasks</h1>
    <% @team.tasks.each do |t| %>
    <ul>
     <li>
      <%= check_box_tag "Status",t.id,t.status%>
       <%= t.project.smo_id %> | <%= t.project.name %> | <%= t.name %>         
     </li>
    </ul>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> | 
<%= link_to 'Create New Team', new_team_path %> | 
<%= link_to 'Back', teams_path %>
