<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
	<h1>Impacted</h1>
	<% @project.systems.each do |i| %>
	<ul>
	 <li>
	   <%= i.name %>         
	 </li>
	</ul>
	<% end %>
</p>

<p>
	<% if @project.tasks.any? %>
		<h1>Tasks</h1>
		<% @project.tasks.each do |t| %>
		<ul>
		 <li>
		   <%= t.name %>         
		 </li>
		</ul>
		<% end %>
	<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
