<div class="row">
  <div class="col-xs-3 well v-well">
    <h3>Project Information</h3>
    <p>
      <strong>SMO ID:</strong>
      <%= @project.smo_id %>
    </p>
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  </div>

  <div class="col-xs-3   well v-well left-margin">
    <h3>Impacted Systems</h3>
      <% @project.systems.each do |i| %>
      <ul>
       <li>
         <%= i.name %>         
       </li>
      </ul>
      <% end %>
  </div>

  <div class="col-xs-3 well v-well left-margin">
    <% if @project.phases.order('sequence').any? %>
      <h3>Phases</h3>
      <% @project.phases.each do |t| %>
      <ul>
       <li>
        
         <%= t.name %>         
       </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <%= link_to 'View Tasks', project_tasks_path(@project.id), class: "btn btn-xs  btn-primary" %> |
  <%= link_to 'Edit Project', edit_project_path(@project), class: "btn btn-xs  btn-primary" %> |
  <%= link_to 'Back to project List', projects_path, class: "btn btn-xs  btn-primary" %>
</div> 

