<p id="notice"><%= notice %></p>

<h1>Listing Systems</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.name %></td>
        <td><%= link_to 'Show', system, class: "btn btn-xs  btn-primary" %></td>
        <td><%= link_to 'Edit', edit_system_path(system), class: "btn btn-xs  btn-primary" %></td>
        <td><%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs  btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_system_path, class: "btn btn-xs  btn-primary" %>
