<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phase.name %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @phase.sequence %>
</p>

<%= link_to 'Edit', edit_phase_path(@phase), class: "btn btn-xs  btn-primary" %> |
<%= link_to 'Back', phases_path, class: "btn btn-xs  btn-primary" %>
